{% extends 'base.html' %}
{% load static %}

{% block content %}
    <form id="form" method="get">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Получить</button>
    </form>
    <div class="statyas_container">
        {% now 'SHORT_DATETIME_FORMAT' %}
        {% for statya in statyas %}
            <div class="statya_preview">
                {{ statya.get_absolute_url }}
                <p><a href="{% url 'detail' statya.pk %}">{{ statya.title|title }}</a> </p>
                {% if request.session.favourites.empty or not statya.pk in request.session.favourites %}
                    <div class="favourite_container">
                        <form id="favourite_form" method="post" action="{% url 'add_booking' statya.pk %}" title="Добавить в список для чтения">
                            {% csrf_token %}
                            <button id="1" type="submit" class="fa fa-plus" style="color: #fa9405"></button>
                        </form>

                    </div>
                {% else %}
                    <div class="favourite_container">
                    <form id="favourite_form" method="post" action="{% url 'remove_booking' statya.pk %}" title="Удалить из списка для чтения">
                        {% csrf_token %}
                        <button type="submit" class="fa fa-check" style="color: green"></button>
                    </form>
                    </div>
                {% endif %}
                <p>{{ statya.title }}</p>
                <p>{{ statya.date|date:"j E"  }}</p>
                <p>{{ statya.description|capfirst }}</p>

            </div>
        {% empty %}
            <p>На данный момент не найдено ни одной статьи. Проверьте страницу позже.</p>
        {% endfor %}
    </div>



    <div>
        <span>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; К первой</a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}
            <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">В конец &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}