<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport content="width=device-width, inital-scale=1">
    <title>Codeby - {% block title %}онлайн-курсы{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ STATIC_URL  }}styles.css">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>
    <main>
        {% block content %}
        <p>{{ message }}</p><br>
        <div class="course_container">
            <div class="course_preview" style="transform: none; box-shadow: none; border: none">
                    <p><a href="http://127.0.0.1:8000/{{ course.get_absolute_url }}">Курс: {{ course.title }}</a></p>
                    <p>Описание: {{ course.description }}</p>
                    {% for author in course.authors.all %}
                        <p>Авторы: {{ author.first_name}} {{ author.last_name}}</p><br>
                    {% endfor %}
                    <p>Дата старта: {{ course.start_date }}</p>
                    <p>Продолжение: {{ course.duration }}</p>
                    <p>Цена: {{ course.price }} руб.</p>
                    <p>Число уроков: {{ course.count_lessons }}</p>
            </div>
        </div>

        {% endblock %}
    </main>
</body>
</html>