<!DOCTYPE html>
{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="veiwport content="width=device-width, inital-scale=1">
    <title>Codeexpert - {% block title %}Статьи по информационной безопасности{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ STATIC_URL  }}styles.css">
    <script defer src="{% static 'script.js' %}"></script>
</head>
<body>

    <header style="color=#A9A9A9;">
        <nav class="header_container">
            <div class="logo_container">
                <a class="logo" href="{% url 'index' %}">
                    {% static 'logo.png' as logo_url %}
                    <img src="{{ logo_url }}" alt="Лого сайта" title="Лого сайта"></a>


                <div class="describer" >
                    <div class="title"><h2 translate="no">Codeexpert</h2> </div>

                    <div class="role">Статьи по информационной безопасности</div>

                </div>

                <div style="margin-left: 50px; display:inline-block;width: 550px; border: none; border-radius: 10px;">
                    <form id="form" method="get" style="border: none;">
                        {% csrf_token %}
                        <div style="width: 265px;">{{form.search}}</div>
                        {{form.rub}}
                    </form>
                </div>

                <div style="margin-left: 20px; display:inline-block;">
                    <div style="">
                        <form method="get" action="{% url 'index' %}">
                            <button type="submit" style="align: left; width: 300px; display:inline-block; margin-left: 20px; font-size: .9em; border-radius: 50px;background-color: #fff;color: #444;">Утилиты</button>
                        </form>
                    </div>
                    <div>
                        <form method="get" action="{% url 'index' %}">
                            <button type="submit" style="display:inline-block; width: 300px; margin-left: 20px; margin-left: 50px; font-size: .9em; border-radius: 50px;background-color: #fff;color: #444; ">Статьи</button>
                        </form>
                    </div>
                </div>

            </div>
            <div class="auth_container">

                {% if user.is_authenticated %}
                    <div class="profile" style="margin-left: 100px;">
                        <div><a style="" href="#">{{ user.last_name }} {{ request.user.first_name }}</a></div>
                        <div class="submenu_profile" style="display: none;">
                            <div>
                               <p><a class="fa fa-heart" href="{% url 'favourites' %}"> Статьи для чтения</a></p>

                                <p><a style="color: rgba(238, 68, 68, 0.83)" href="{% url 'create' %}">Создать курс</a></p>

                                <p><a style="color: rgba(238, 68, 68, 0.83)" href="{% url 'password_change' %}"> Сменить пароль</a></p>

                                <p><a style="color: rgba(238, 68, 68, 0.83)" href="{% url 'logout' %}">Выход</a></p>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="nav-toggle;" style="margin-left: 50px;"><span></span></div>
                    <div class="login"><a href="{% url 'log_in' %}" style="color: #000">Вход</a></div>
                    <div class="register"><a href="{% url 'register' %}" style="color: #fff">Регистрация</a></div>
                {% endif %}


            </div>
        </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer_container" style="display:inline-block;">
            <div class="logo">
                <div class="copyright-mark">
                    <p><img src="{% static 'logo.jpg' %}" alt="Лого сайта" title="Лого сайта"/>
                        <span class="title">Codeexpert</span> - Статьи по информационной безопасности
                    </p>
                </div>


                    <div>&copy; {{ CURRENT_YEAR }} Все права защищены</div>

            </div>
        </div>

                <div style="margin-left: 50px; display:inline-block; margin-top: 5-px;">
                    <form id="form" method="get" style="width: 400px; border: none; border-color: #A9A9A9;">
                        {% csrf_token %}
                            <div>{{form.order}}</div>
                    </form>
                </div>

    </footer>

</body>

</html>