{% extends 'base_utilita.html' %}
{% load templates_tag %}
{% load static %}
{% block content  %}
<div class="course_container" xmlns="http://www.w3.org/1999/html">
                {% with utilita_var=utilites.first %}
                 <div class="course_preview" style="transform: none; box-shadow: none; border: none">

                     {% if user.is_authenticated %}
                        {% if user|has_group:'Автор' %}
                            {% if user == utilita_var.author %}
                                <p><a style="color:red" href="{% url 'delete_utilita' utilita_var.pk %}">Удалить</a> </p>
                            {% endif %}
                         {% endif %}

                         {% if user|has_group:'Модератор' %}
                                <p><a style="color:blue" href="{% url 'update_utilita' utilita_var.pk %}">Редактировать</a> </p>
                                <p><a style="color:red" href="{% url 'delete_utilita' utilita_var.pk %}">Удалить</a> </p>
                         {% endif %}
                     {% endif %}

                    {% with authors=utilita_var.author %}
                        {% if authors|length == 1 %}
                            <p>Автор: {{ authors.0.last_name}} {{ authors.0.first_name }}</p>
                        {% endif %}
                    {% endwith %}
                    <p><b>Название утилиты:</b> {{ utilita_var.title }}</p>
                     <p><b>Загрузил утилиту:</b> {{ utilita_var.author }}</p>
                    <p><b>Дата загрузки:</b> {{ utilita_var.data_publication }}</p>
                    <p><b>Описание:</b> {{ utilita_var.description }}</p>
                    <p><b>Число загрузок:</b> {{ utilita_var.count_downloads }}</p>
                    <p><a style="color:blue" href="{% url 'download_utilita' utilita_var.pk %}">Скачать</a></p>


                 </div>
      {% endwith %}
</div>
{% endblock %}